@media screen and (max-width:572px) {
    /* Header Area Style */
    .nav-area {
        margin-top: 0;
        flex-direction: column;
        margin-bottom: 40px;
        text-align: center;
    }
    nav a {
        margin-right: 10px; 
    }
         /* Banner Area  */
         .banner-area {
            background-position:center;
         }
         .banner-title-area {
            padding: 90px 0;
        }
        .banner-title-area h2 {
            font-size: 30px;
            font-weight: 800;
        }
        .banner-title-area p {
            font-size: 12px;
        }
        /* From Area */
        .form-area {
            margin: 39px;
            margin-top: -70px;
            padding: 16px 0;
        }
        .form-area input {
            padding: 10px 10px 10px 12px;
            margin: 10px ;
            width: 80%;
        }
        .form-area button {
            width: 85%;
            margin-top: 8px;
        }

/* Tours Main Area  */       
.tours-main  {
    display: block;
}
.tours-area, .tours-img {
    width: 100%;
    margin-bottom: 40px;
} 
.tours-img img {
    width: 100%;
}
/* Gallery Area */
.g-text-area {
    width:100%;
    margin: 80px auto;
}
.col-1 img {
    width: 100%;
}
.col-1 {
    grid-template-columns: repeat(1, 1fr);
}
.col-2, .col-3 {
    flex-direction: column;
}
.whyus-text {
    width: 100%;
}
.card-area {
    flex-direction: column;
}
.card3 {
    width: 85%;
    margin: 20px 0;
}
/* Deal And Discount Area */
.dealNdis-title{
    width: 100%;
}
.tour-package, .tour-package2,
.tour-package3
  {
    width: 60%;
    height: auto;
    border-radius: 20px;
    background-color: #e0dfddbd;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.schedule ul li {
    margin-bottom: 5px;
}
/* Perfect Place Area */
.perfect-place-area {
    flex-direction: column;
}
.pp-list {
    margin-bottom: 20px;
}
.pp-50col {
    width: 100%;
}
.pp-video-area video {
    margin-top: 40px;
}
/* NewsLettere Area */
.news-letter-area {
    flex-direction: column;
}
.newsletter-img  {
    width: 100%;
}
.newsletter-img img {
    width: 100%;
}
/* Save 70 Area */
.save-70 {
    color: #FFF;
    background-color: #FF5400;
    width: 170px;
    height: 60px;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 46%;
     left: 52%;
    rotate: -35deg;
}
.save-70 p {
    margin: 5px;
}

}
.save-70 h3 {
    margin: 4px;
    font-size: 20px;
}

}